*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}
.container{
    background-image: linear-gradient(135deg, rgba(50, 1, 21, 0.956) , rgb(6, 25, 28));
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}
.todo-box{
    width: 100%;
    max-width: 550px;
    background-color: #fff;
    margin: 300px auto;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.inp-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e8e8e8;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0px 4px 6px #bfbfbf;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
input::placeholder{
    font-family: 'Poppins' , sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px; 
    background: rgba(50, 1, 21, 0.956);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 13px;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}
/* ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    top: 10px;
    left: 8px;
} */
.check-div{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li div{
    cursor: pointer;
}

ul li div span{
    pointer-events: none;
}

.check-div span{
    font-size: 27px;
    color: rgba(50, 1, 21, 0.956);
    display: none;
}
ul li.checked p{
    color: #444;
    text-decoration: line-through;

}
li.checked .check-div span{
    display: block;
}
ul li p{
    flex: 1;
}
.edit-div>span , .delete-div>span{
    font-size: 22px;
    color: rgba(50, 1, 21, 0.956);
}
